@()

@main("Kalman Filter") {
    <h1>Applications of the Kalman Filter to Timeseries Analysis</h1>
    <p>
        A project for my Economics class Andre Renom and I collaborated on an investigation into how effectively the Kalman filter can be used to predict the movement of stocks.
    </p>

    <h4>Abstract</h4>
    <p>
        In this experiment we investigate the effectiveness of the Kalman filter in predicting stock market
        data. We compare it to two other models, simple and weighted moving averages. We evaluate these
        models on their ability to predict long term movements in stock prices (on the scale of one day).
    </p>

    <h3><a href="@routes.Assets.at("downloads/writeup.pdf")">Download the write-up here</a></h3>
}