@()
@main("Freddie's Machine Learning", isHome = true) {

    <style>
        li {
            font-size: 16px;
        }
    </style>

    <h1>Welcome to Freddie's Machine Learning Site</h1>
    <h2>Projects</h2>
    <ul>
        <li><a href="/MNIST">MNIST recogniser</a></li>
        <li><a href="/econ/kalman">Stock prediction with the Kalman filter</a></li>
    </ul>

    <h4>Find this project on <a href="https://github.com/vogon101/MachineLearning">github</a></h4>
    <a class="github-button" href="https://github.com/vogon101" data-size="large" data-show-count="true" aria-label="Follow @@vogon101 on GitHub">Follow @@vogon101</a>
    <a class="github-button" href="https://github.com/vogon101/MachineLearning/subscription" data-icon="octicon-eye" data-size="large" data-show-count="true" aria-label="Watch vogon101/MachineLearning on GitHub">Watch</a>
    <a class="github-button" href="https://github.com/vogon101/MachineLearning" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star vogon101/MachineLearning on GitHub">Star</a>


}
